* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8e8e8;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
}

.container {
    padding: 23px;
    background-color: white;
    box-shadow: inset -9px -15px 20px rgba(80, 80, 80, 0.288);
    border-radius: 30px;
    width: 40vh;
    height: 77vh;
    border: 2px solid #43434328;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

.wrapper {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.wrapper .time {
    border: 3px solid rgba(213, 213, 213, 0.266);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -20px -20px 15px rgba(0, 0, 0, 0.095);
    padding: 70px;
    position: relative;
}

.time::before {
    content: "";
    width: 200px;
    height: 5px;
    position: absolute;
    bottom: -70px;
    border-radius: 100px;
    background-color: #2ae8b2b3;
}

.wrapper .time span {
    width: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #333333cb;
}

.time span.colon {
    width: 10px;
}

.time span.ms-colon,
.time span.millisecond {
    color: #2ae8b2;
}

.wrapper .buttons {
    text-align: center;
    margin-top: 50px;
}

.buttons button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: translate(0, 70px);
    padding: 6px 16px;
    border: none;
    color: #ffffff;
    background: #2d2d2d;
    font-size: 17px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.09);
}


/* .buttons .reset {
    margin-top: 15px;
} */

.buttons .start {
    box-shadow: inset -6px -8px 10px rgb(0, 179, 255);
    background-color: #2ae8b2;
}

.buttons button.active,
.buttons button.stopActive {
    pointer-events: none;
    opacity: 0.6;
}